/*Font Rules
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/


/*Mise en page*/

figure{
    margin: 0;
}

body{
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

footer a:hover{
    text-decoration: underline;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type : none;
}

img{
    width: 100%;
}

h5{
    font-family: 'Shrikhand', cursive;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about{
    text-align: center;
    font-size: 300%;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #CECECE;
}

.fonctionnement{
    padding: 50px;
}

/*Mobile First*/


@media screen and (min-width: 800px){
    
}

@media screen and (min-width: 1200px){
    
}