/*Font Rules
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/


/*Mise en page*/

figure{
    margin: 0;
}

body{
    margin: 0;
    width: fit-content;
    font-family: 'Roboto', sans-serif;
}

footer a:hover{
    text-decoration: underline;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type : none;
}

/*Mobile First*/



@media screen and (min-width: 800px){
    
}

@media screen and (min-width: 1200px){
    
}